/* Login.scss */

.login {
  // margin-top: 20px;
  margin: 5% 0 12% 0;

  .form-group {
    margin-bottom: 20px;
  }

  .text-danger {
    font-size: 14px;
    margin-top: 5px;
  }

  .login-btn-div {
    text-align: center;
    width: 100%;

    button {
      width: 100px;
      background-color: #febd69;
      color: #131921;
      padding: 8px;
      cursor: pointer;
      border: 0;
      border-radius: 0.75rem !important;
    }
  }
}
